/*stylesheet für SCHNEE.SCHNEEIGER.AMSCHNEEIGSTEN.*/
body{
    background-color: #e6dbb6;
    font-family: 'Verdana';
    font-size: 1,5em;
}
h1{
    margin-bottom: 0em;
    font-size: 2em;
    color: #e6dbb6;
    background-color: #1d63cc;
    text-align: center;
}
h5{
    margin-bottom: 0em;
    font-size: 1em;
    color: #1d63cc;
    background-color: #e6dbb6;
    text-align: center;
}
ul{
    font-size: 1em;
    font-family: 'Verdana';
    color: #413f3f
}
h3{
    color: #e6dbb6;
    background-color: #1d63cc;
    font-size: 1,5em;
    font-family: 'Verdana'bold;
}
h4{
    font-size: 1em;
    font-family: 'Verdana'bold;
    text-align: left;
    color: #413f3f
 
}
p{
    font-size: 1em;
    font-family: 'Verdana';
    color: #413f3f;
}
article{
    background-color: #e6dbb6;
    width: 98%
}
section{
    background-color: #a5eaf7;
    width: 98%
}
#Furtwangen{
    width: 30%;
    border: #FFFFFF;
    border-radius: 5%;
    border: 0,5em;
}
#Schnee{
    width: 30%;
    border: #FFFFFF;
    border-radius: 5%;
    border: 0,5em;
}
#SchneeSchnee{
    width: 30%;
    border: #FFFFFF;
    border-radius: 5%;
    border: 0,5em;
}
footer{
    background-color: #a5eaf7;
    color: #413f3f;
    font-family: 'Verdana';
    
}